.home {
	header {
		background-color: $purple;
		flex-grow: 1;

		.header-prompt {
			margin: 0 0 1.75em;
			font-size: 2em;
			font-weight: 200;

			&:after {
				content: "";
				display: inline-block;
				position: relative;
				width: .075em;
				height: 1.1em;
				background: $green;
				animation: header-cursor 1s linear infinite;
			}

			svg {
				height: 1em;
				vertical-align: baseline;
				overflow: visible;
			}
		}

		.header-content {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
		}

		h1 {
			font-size: 3.5rem;
			margin: 0;
		}

		.btn {
			font-size: 1.25rem;
			margin-top: #{$spacer * 0.8}
		}
	}

	body {
		min-height: -webkit-fill-available;
	}

	body,
	footer {
		background-color: $indigo;
	}
}

@keyframes header-cursor {
	0%, 49%, 100% {
		background: $green;
	}

	50%, 99% {
		background: transparent;
	}
}
