$blue: #3b94d9 !default;
$green: #2dbc63 !default;
$purple: #2a1f33 !default;
$indigo: #44275c !default;
$purple-lighter: #382b42;
$indigo-lighter: #ad76e9;

$primary: #0d47a1 !default;
$link-color: $blue !default;
$code-color: var(--bs-gray-800) !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;
