body strong {
	font-weight: 600;
}

code {
	font-size: 10pt;
	margin: .15em;
	padding: .15em;
	color: black;
	background-color: #dddddd;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

code strong {
	font-weight: 700;
}

code span.required, code span.optional {
	font-size: 10pt !important;
}

span.required, span.optional {
	padding-left: .4em;
	padding-right: .4em;
	font-size: 9pt;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid;
}

span.required {
	background-color: #ffcccc;
	border-color: #cc0000;
	font-weight: bold;
	color: black;
}

span.optional {
	background-color: #ffffcc;
	border-color: #dddd00;
	font-style: italic;
	color: black;
}

code span.comment {
	font-weight: bold;
	color: #00007f;
}

code span.string {
	font-weight: bold;
	color: #7f0000;
}

code span.variable {
	font-weight: bold;
	color: #007f00;
}