<footer role="navigation">
	<ul class="footer-sub-links">
		<li><a href="/docs/">Docs</a></li>
		<li><a href="/docs/Help">Get Help</a></li>
		<li><a href="https://github.com/theos">GitHub</a></li>
		<li><a href="https://twitter.com/theosdev">@theosdev</a></li>
		<li><a href="/discord">Discord</a></li>
	</ul>

	<div class="footer-legal">
		Copyright &copy; Theos. Deployed on <a href="https://netlify.com">Netlify</a>.
		<br>
		<a href="https://github.com/theos/theos.dev">Edit on GitHub</a>
	</div>
</footer>
